<% provide(:title, 'Add book') %>
<h1>Adding book </h1>
<div class = "form">
    <%= form_for(@book,:url => { :action => "index" }) do |f| %>
      <table>
        <tr>
        <td><%= f.label :bname %></td>
        <td><%= f.text_field :bname %></td>
        </tr>
        <tr>
        <td><%= f.label :desc %></td>
        <td><%= f.text_field :desc %></td>
        </tr>
      </table>
      <%= f.submit "Add", class:'button' %>
    <% end %>
</div>