<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<div class = "form" >
    <%= form_for @user  do |f| %>
      <%# <%= render '/shared/error_messages' %> 
      <table>
      <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name, class: 'form-control' %>
        <% if @user.errors[:name].any? %>
          <div class="errors"><%= @user.errors[:name] %></div>
        <% end %>
      </td>
      
      </tr>

      <tr>
      <td><%= f.label :email %></td>
      <td><%= f.email_field :email, class: 'form-control' %>
        <% if @user.errors[:email].any? %>
          <div class="errors"><%= @user.errors[:email] %></div>
        <% end %>
      </td>
      </tr>
      
      <tr>
      <td><%= f.label :password %></td>
      <td><%= f.password_field :password, class: 'form-control' %>
        <% if @user.errors[:password].any? %>
          <div class="errors"><%= @user.errors[:password] %></div>
        <% end %>
      </td>
      </tr>
     
      <tr>
      <td><%= f.label :password_confirmation, "Confirmation" %></td>
      <td><%= f.password_field :password_confirmation, class: 'form-control' %></td>
      </tr>
      </table>
      <%= f.submit "Add", class:'button-form' %>
    <% end %>
</div>