<% provide(:title, 'Add book') %>
<h1>Adding book </h1>
<div class = "form">
    <%= form_for(@book) do |f| %>
      <table>
        <tr>
        <td><%= f.label :bname %></td>
        <td><%= f.text_field :bname %>
          <% if @book.errors[:bname].any? %>
            <div class="errors"><%= @book.errors[:bname] %></div>
          <% end %>
        </td>
        </tr>
        <tr>
        <td><%= f.label :desc %></td>
        <td><%= f.text_field :desc %>
          <% if @book.errors[:desc].any? %>
            <div class="errors"><%= @book.errors[:desc] %></div>
          <% end %>
        </td>
        </tr>
      </table>
      <%= f.submit "Add", class:'button-form' %>
    <% end %>
</div>