<header class="navbar">
  <div class="container">
    <nav>
      <ul>
      <%= form_tag(search_page_path, :method => "get") do %>   
      <li><%= link_to "Books", '/books' %></li>
      <li><%= link_to "Contribute", '/books/new' %></li>
      <li><%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
        
       </li>
<% end %>
      <% if logged_in? %>
        <li><%= current_user.name %></li>    
        <li class="login"><%= link_to "LOGOUT", logout_path, method: "delete" %></li>
      <% else %>
        <li class="login"><%= link_to "SIGNUP",   '/users/new' %></li>
        <li class="login"><%= link_to "LOGIN",   '/sessions/new' %></li>
     <% end %>
      </ul>
    </nav>
  </div>
</header>