<header class="navbar">
  <div class="container">
    <nav>
      <ul>
      <li><%= link_to "Books",  '/books' %></li>
      <li><%= link_to "Contribute",  '/books/new' %></li>
      
      <li><%= form_tag(search_page_path, :method => "get",   
        class: 'navbar-form navbar-left') do %>  
       <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
        <% end %>
      </li>
      <% if logged_in? %>
       <li class="login"><div class="dropdown">
        <button class="dropbtn">Left</button>
          <div class="dropdown-content">
            <li><%= link_to "LOGOUT", logout_path, method: "delete" %></li>
          </div>
       </div> 
       </li>
        
      <% else %>
        <li class="login"><%= link_to "SIGNUP",   '/users/new' %></li>
        <li class="login"><%= link_to "LOGIN",   '/sessions/new' %></li>
     <% end %>
      </ul>
    </nav>
  </div>
</header>