<!DOCTYPE html>
<html>
<head>
  <title>Signup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<%= yield %>
<%- flash.each do |name, message| %>
  <p><i><%= "#{name}: #{message}" %></i></p>
  <% end %>
    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
            <%= value %>
      </div>
<% end %>
</body>
</html>
